extends layout

block content
    .row(style='margin-top: 50px;')
        .col-sm-10.col-sm-offset-1.blog-main
            .blog-post
                h2.blog-post-title
                    a(href=(user ? '/articles/#{article.id}/edit' : '#')) #{article.title}
                p.blog-post-meta
                    | #{locals.moment(article.created).format("YYYY/MM/DD")} by&nbsp
                    a(href='#') #{article.author}
                p !{article.content.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br/>')}

