extends layout

block content
    .row(style='margin-top: 50px; margin-bottom: 50px;')
        .col-sm-4
            div(style='text-align: center')
                img.img-circle(style='width: 100%; height: 100%; max-width: 300px;', src='https://pbs.twimg.com/profile_images/791691112817786880/rCr0_uFO.jpg')
                br
                br
                h2 Dawid Brzyszcz
        .col-sm-8.blog-main
            h1 To ja
            p
                | Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst.
                | Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst.
                | Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst.
                | Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst.
                | Test tekst. Test tekst. Test tekst. Test tekst. Test tekst. Test tekst.