extends layout

block content
    .row(style='margin-top: 50px;')
        .col-sm-10.col-sm-offset-1.blog-main
            p Czy jesteś pewien, że chcesz usunąć ten wpis?
            form(role='form' action='/articles/#{articleId}/delete', method='post')
                button.btn.btn.primary.btn-block(style='margin-top: 20px; margin-bottom: 20px', type='submit') Tak