extends layout

block content
    .row(style='margin-top: 50px;')
        .col-sm-10.col-sm-offset-1.blog-main
            .blog-post
                form#editArticle(role='form', action='/articles/#{article.id}/edit', method='post')
                    label(for='articleTitle') Tytuł
                    input#articleTitle.form-control(type='text', name='articleTitle', value=locals.articleTitle)
                    br
                    label(for='articleContent') Treść
                    br
                    textarea#articleContent.form-control(rows='20', name='articleContent', form='editArticle') #{locals.articleContent}
                    button.btn.btn-lg.btn-primary.btn-block(style='margin-top: 20px;', type='submit') Zapisz
                a.btn.btn-lg.btn-danger(href='/articles/#{article.id}/delete' style='width: 100%; margin-top: 10px') Usuń