extends layout

block content
    .row(style='margin-top: 50px;')
        .col-sm-10.col-sm-offset-1.blog-main
            .blog-post
                form(action="", method="post", enctype="multipart/form-data")
                    input(type="file", name="uploadedFile")
                    button.btn.btn-lg.btn-primary.btn-block(style='margin-top: 20px;', type='submit') Zapisz