extends layout

block content
  .blog-header
    h1.blog-title Mój Zaliczeniowy Blog
    p.lead.blog-description Stworzony przy użyciu technologii Node.js.
  .row
    .col-sm-8.blog-main

      each article in articles
        .blog-post
          h2.blog-post-title
            a(href='/articles/#{article.id}') #{article.title}
          p.blog-post-meta
            | #{locals.moment(article.created).format("YYYY/MM/DD")} by&nbsp
            a(href='#') #{article.author}
          p !{article.content.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br/>').substr(0, 100)}...


      // PAGINATION
      //nav
      //  ul.pager
      //    li
      //      a(href='#') Wstecz
      //    li
      //      a(href='#') Dalej




    // /.blog-main
    .col-sm-3.col-sm-offset-1.blog-sidebar
      .sidebar-module.sidebar-module-inset
        h4 O mnie
        p
          | Dawid Brzyszcz.
          br
          | Student
          em &nbspInformatyki Stosowanej
          |  na Wydziale Fizyki, Astronomii i Informatyki Stosowanej Uniwersytetu Jagiellońskiego.

      .sidebar-module
        h4 Znajdź mnie tu
        ol.list-unstyled
          li
            a(href='https://bitbucket.org/blady001/') Bitbucket
          li
            a(href='https://www.facebook.com/blady001') Facebook
    // /.blog-sidebar
  // /.row
  // /.container