doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    // Bootstrap core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/bs-customizations.css', rel='stylesheet')
    link(href='/stylesheets/blog.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
    //  script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    //  script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    block additionalhead
  body
    .blog-masthead
      .container
        nav.blog-nav
          a.blog-nav-item(class=(title == 'Dawid Brzyszcz Blog' ? 'active' : ''), href='/') Blog
          a.blog-nav-item(class=(title == 'Dawid Brzyszcz Blog - Kontakt' ? 'active' : ''), href='/contact') Kontakt
          if (!user)
            a.blog-nav-item.nav-action(href='/signin') Zaloguj się
          if (user)
            a.blog-nav-item(class=(title == 'Dawid Brzyszcz Blog - Nowy wpis' ? 'active' : ''), href='/articles/new') Nowy wpis
            a.blog-nav-item.nav-action(href='/signout') Wyloguj się
    .container
      block content

    footer.blog-footer
      p
        | Blog template built on top of
        a(href='http://getbootstrap.com') &nbspBootstrap
        | .
      p Dawid Brzyszcz
      p
        a(href='#') Back to top
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    // <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
