extends layout

block content
    .row(style='margin-top: 50px;')
        .col-sm-10.col-sm-offset-1.blog-main
            .blog-post
                form#editArticle(role='form', action='/articles/new', method='post')
                    label(for='articleTitle') Tytuł
                    input#articleTitle.form-control(type='text', name='articleTitle')
                    br
                    label(for='articleContent') Treść
                    br
                    textarea#articleContent.form-control(rows='20', name='articleContent', form='editArticle')
                    button.btn.btn-lg.btn-primary.btn-block(style='margin-top: 20px;', type='submit') Zapisz