doctype html
html
    head
        title Zaloguj się
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        // Bootstrap core CSS
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='/stylesheets/bs-customizations.css', rel='stylesheet')
        link(href='/stylesheets/signin.css', rel='stylesheet')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        .container
            form.form-signin(role='form', action="/signin", method="post")
                h2.form-signin-heading Podaj dane do logowania
                label.sr-only(for='inputEmail') Nazwa użytkownika
                input#inputEmail.form-control(type='text', name="username", placeholder='abc', autofocus='')
                label.sr-only(for='inputPassword') Hasło
                input#inputPassword.form-control(type='password', name="password" placeholder='***', required='')
                button.btn.btn-lg.btn-primary.btn-block(type='submit') Zaloguj
        // /container
