/*
 * Buttons
 */

.btn-primary {
    background-color: #00C853;
    border-color: #4CAF50;
}

.btn-primary:hover {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

/*
 *Inputs
*/
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #00C853;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #4CAF50;
    outline: 0 none;
}


/*
 * Hyperlinks
 */
a {
    color: #00C853;
}

a:hover {
    color: #4CAF50;
}

a:focus {
    color: #4CAF50;
}


/*
 * Other
 */

#articleContent:focus {
    border-color: #00C853;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #4CAF50;
    outline: 0 none;
}
